<%- include('../partials/header') %>

<!-- <table id="list">
  <thead>
    <tr>
      <th>image</th>
      <th>Name</th>
      <th>loaction</th>
      <th>difficulty</th>
      <th>swimming</th>
      
    </tr>
  </thead>
  <tbody>
    <% hikes.forEach(function(m) { %>
      <tr>
        <td><img src="<%= m.image %>" width="200px"></img></td>
        <td><%= m.name %></td>
        <td><%= m.location %></td>
        <td><%= m.difficulty %></td>
        <td><%= m.swimming ? "yes" : "No" %></td>
        <td><a href="/hikes/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table> -->
<div class="card-container">
  <% hikes.forEach(function(m) { %>
  <div class="card" style="width: 18rem">
    <img
      src="<%= m.image %>"
      class="card-img-top"
      alt="..."
      width="200"
      height="200"
    />
    <div class="card-body">
      <h5 class="card-title"><%= m.name %></h5>
      <p class="card-text"><%= m.location %></p>
      <a href="/hikes/<%= m._id %>" class="btn btn-primary">DETAILS</a>
    </div>
  </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>
